asgiref==3.11.1
Django==6.0.4
djangorestframework==3.17.1
gunicorn==25.3.0
joblib==1.5.3
mysqlclient==2.2.8
numpy==1.26.4
openbabel-wheel==3.1.1.23
packaging==26.1
pandas==3.0.2
pillow==12.2.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
rdkit==2025.9.3
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tensorflow==2.16.2
