
python=3.7

rdkit
conda install -c conda-forge rdkit

django
conda install -c anaconda django

djangorestframework
conda install -c conda-forge djangorestframework 

keras
conda install -c conda-forge keras

pandas
conda install -c anaconda pandas

scikit-learn
conda install -c anaconda scikit-learn 



# conda install -c anaconda numpy 


# for darkchem
conda install -c openbabel openbabel 


# gunicorn
conda install -c anaconda gunicorn 

# mysqlclient
conda install mysqlclient