<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>ChemAPI</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div>
			<h1>Welcome to ChemAPI</h1>
			<p class="lead">Chemical property prediction API with machine learning models</p>
		</div>

		<div class="alert alert-info" role="alert">
			<strong>API Update:</strong> All endpoints now support POST requests with JSON body for better handling of chemical structures with special characters. 
			GET requests with path parameters are still supported for backward compatibility.
			<br><strong>Recommended:</strong> Use POST requests for reliability.
		</div>

		<div>
			<p>Source code can be found at <a href="https://github.com/Danissss/ChemAPI">GitHub</a></p>
			<p>Documentation: <a href="https://github.com/Danissss/ChemAPI">README.md</a></p>
		</div>

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Program Name</th>
		      <th scope="col">Predicted Property</th>
		      <th scope="col">ChemAPI</th>
		      <th scope="col">Ref</th>
		    </tr>
		  </thead>
		  <tbody>
		    

		    <tr>
		      <th scope="row">DeepCCS</th>
		      <td>Collision Cross-Sections</td>
		      <td>
		      	<table class="table table-striped">
		      	  <tbody>
		      	    <tr>
		      	      <th scope="row">Rule (POST - Recommended)</th>
		      	      <td>POST: <code style="font-size: 1.1em;">http://localhost:8000/deepccs/predict/</code><br>
		      	      	  Body: <code style="font-size: 1.1em;">{"structure": "SMILES", "adduct": "TYPE"}</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Example (POST)</th>
		      	      <td>
		      	      	  <code style="font-size: 1.1em;">curl -X POST http://localhost:8000/deepccs/predict/ \<br>
		      	      	  &nbsp;&nbsp;-H "Content-Type: application/json" \<br>
		      	      	  &nbsp;&nbsp;-d '{"structure": "C1=CC=CN=C1", "adduct": "M+H"}'</code><br><br>
		      	      	  Result: <code style="font-size: 1.1em;">{"deepccs": "120.58"}</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Rule (GET - Legacy)</th>
		      	      <td>GET: <code style="font-size: 1.1em;">http://localhost:8000/deepccs/predict/{smiles}/{adduct}/</code></td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Adduct Types</th>
		      	      <td><code style="font-size: 1.1em;">M+H</code>, <code style="font-size: 1.1em;">M+Na</code>, <code style="font-size: 1.1em;">M-H</code>, <code style="font-size: 1.1em;">M-2H</code></td>
		      	    </tr>
		      	  </tbody>
		      	</table>
		      </td>
		      <td><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6628689/">PMC6628689</a></td>
		    </tr>


		    <tr>
		      <th scope="row">DarkChem</th>
		      <td>Collision Cross-Sections</td>
		      <td>
		      	<table class="table table-striped">
		      	  <tbody>
		      	    <tr>
		      	      <th scope="row">Rule (POST - Recommended)</th>
		      	      <td>POST: <code style="font-size: 1.1em;">http://localhost:8000/darkchem/predict/</code><br>
		      	      	  Body: <code style="font-size: 1.1em;">{"structure": "SMILES", "adduct": "TYPE"}</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Example (POST)</th>
		      	      <td>
		      	      	  <code style="font-size: 1.1em;">curl -X POST http://localhost:8000/darkchem/predict/ \<br>
		      	      	  &nbsp;&nbsp;-H "Content-Type: application/json" \<br>
		      	      	  &nbsp;&nbsp;-d '{"structure": "C1=CC=CN=C1", "adduct": "[M+H]+"}'</code><br><br>
		      	      	  Result:
		      	      	  	<code style="font-size: 1.1em;">
		      	      	  		{
		      	      	  		    "darkchem": {
		      	      	  		        "m/z": [40.51, 36.97, ...],
		      	      	  		        "css": [104.26, 103.91, ...]
		      	      	  		    }
		      	      	  		}
		      	      	  	</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Rule (GET - Legacy)</th>
		      	      <td>GET: <code style="font-size: 1.1em;">http://localhost:8000/darkchem/predict/{smiles}/{adduct}/</code></td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Adduct Types</th>
		      	      <td><code style="font-size: 1.1em;">[M+H]+</code>, <code style="font-size: 1.1em;">[M-H]-</code>, <code style="font-size: 1.1em;">[M+Na]+</code></td>
		      	    </tr>
		      	  </tbody>
		      	</table>

		      </td>
		      <td><a href="https://pubs.acs.org/doi/abs/10.1021/acs.analchem.9b02348">ACS</a></td>
		    </tr>



		    <tr>
		      <th scope="row">RapidMiner</th>
		      <td>Retention Index (non-lipid only)</td>
		      <td>
		      	<table class="table table-striped">
		      	  <tbody>
		      	    <tr>
		      	      <th scope="row">Rule (POST - Recommended)</th>
		      	      <td>POST: <code style="font-size: 1.1em;">http://localhost:8000/rapidminer/predict/</code><br>
		      	      	  Body: <code style="font-size: 1.1em;">{"structure": "SMILES"}</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Example (POST)</th>
		      	      <td>
		      	      	  <code style="font-size: 1.1em;">curl -X POST http://localhost:8000/rapidminer/predict/ \<br>
		      	      	  &nbsp;&nbsp;-H "Content-Type: application/json" \<br>
		      	      	  &nbsp;&nbsp;-d '{"structure": "C1=CC=CN=C1"}'</code><br><br>
		      	      	  Result: <code style="font-size: 1.1em;">{"retention_index": "-70.42578"}</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Rule (GET - Legacy)</th>
		      	      <td>GET: <code style="font-size: 1.1em;">http://localhost:8000/rapidminer/predict/{smiles}/</code></td>
		      	    </tr>
		      	  </tbody>
		      	</table>
		      </td>
		      <td><a href="https://www.rdkit.org/">RDKit</a></td>
		    </tr>


		    <tr>
		      <th scope="row">METLIN</th>
		      <td>Retention Time (LC-MS)</td>
		      <td>
		      	<table class="table table-striped">
		      	  <tbody>
		      	    <tr>
		      	      <th scope="row">Rule (POST - Recommended)</th>
		      	      <td>POST: <code style="font-size: 1.1em;">http://localhost:8000/metlin/predict/</code><br>
		      	      	  Body: <code style="font-size: 1.1em;">{"structure": "SMILES"}</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Example (POST)</th>
		      	      <td>
		      	      	  <code style="font-size: 1.1em;">curl -X POST http://localhost:8000/metlin/predict/ \<br>
		      	      	  &nbsp;&nbsp;-H "Content-Type: application/json" \<br>
		      	      	  &nbsp;&nbsp;-d '{"structure": "C1=CC=CN=C1"}'</code><br><br>
		      	      	  Result: <code style="font-size: 1.1em;">{"retention_time": "61.91741"}</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Rule (GET - Legacy)</th>
		      	      <td>GET: <code style="font-size: 1.1em;">http://localhost:8000/metlin/predict/{smiles}/</code></td>
		      	    </tr>
		      	  </tbody>
		      	</table>
		      </td>
		      <td><a href="https://www.nature.com/articles/s41467-019-13680-7">Nature</a></td>
		    </tr>


		    <tr>
		      <th scope="row">ChemProp</th>
		      <td>LogS, LogD, Molecular Descriptors</td>
		      <td>
		      	<table class="table table-striped">
		      	  <tbody>
		      	    <tr>
		      	      <th scope="row">Rule (POST - Recommended)</th>
		      	      <td>POST: <code style="font-size: 1.1em;">http://localhost:8000/chemprop/predict/</code><br>
		      	      	  Body: <code style="font-size: 1.1em;">{"structure": "SMILES"}</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Example (POST)</th>
		      	      <td>
		      	      	  <code style="font-size: 1.1em;">curl -X POST http://localhost:8000/chemprop/predict/ \<br>
		      	      	  &nbsp;&nbsp;-H "Content-Type: application/json" \<br>
		      	      	  &nbsp;&nbsp;-d '{"structure": "C1=CC=CN=C1"}'</code><br><br>
		      	      	  Result:
		      	      	  	<code style="font-size: 1.1em;">
		      	      	  		{"LogP": 1.0816, "Molar Refractivity (MR)": 24.237, "Molecular Weight": 79.102, 
		      	      	  		"Exact Molecular Weight": 79.042, "Heavy Atom Count": 6, "LogS": 0.619, "LogD": 0.295, ...}
		      	      	  	</code>
		      	      </td>
		      	    </tr>
		      	    <tr>
		      	      <th scope="row">Rule: All properties (GET - Legacy)</th>
		      	      <td>GET: <code style="font-size: 1.1em;">http://localhost:8000/chemprop/predict/{smiles}/</code></td>
		      	    </tr>
		      	  </tbody>
		      	</table>
		      	<table class="table table-striped">
		      	    <tbody>
		      	      <tr>
		      	        <th scope="row">Rule: LogD (POST - Recommended)</th>
		      	        <td>POST: <code style="font-size: 1.1em;">http://localhost:8000/chemprop/predict/logd/</code><br>
		      	        	Body: <code style="font-size: 1.1em;">{"structure": "SMILES"}</code>
		      	        </td>
		      	      </tr>
		      	      <tr>
		      	        <th scope="row">Example (POST)</th>
		      	        <td>
		      	        	<code style="font-size: 1.1em;">curl -X POST http://localhost:8000/chemprop/predict/logd/ \<br>
		      	        	&nbsp;&nbsp;-H "Content-Type: application/json" \<br>
		      	        	&nbsp;&nbsp;-d '{"structure": "C1=CC=CN=C1"}'</code><br><br>
		      	        	Result: <code style="font-size: 1.1em;">{"LogD": 0.295}</code>
		      	        </td>
		      	      </tr>
		      	      <tr>
		      	        <th scope="row">Rule: LogD (GET - Legacy)</th>
		      	        <td>GET: <code style="font-size: 1.1em;">http://localhost:8000/chemprop/predict/logd/{smiles}/</code></td>
		      	      </tr>
		      	    </tbody>
		      	</table>
		      	<table class="table table-striped">
		      	    <tbody>
		      	      <tr>
		      	        <th scope="row">Rule: LogS (POST - Recommended)</th>
		      	        <td>POST: <code style="font-size: 1.1em;">http://localhost:8000/chemprop/predict/logs/</code><br>
		      	        	Body: <code style="font-size: 1.1em;">{"structure": "SMILES"}</code>
		      	        </td>
		      	      </tr>
		      	      <tr>
		      	        <th scope="row">Example (POST)</th>
		      	        <td>
		      	        	<code style="font-size: 1.1em;">curl -X POST http://localhost:8000/chemprop/predict/logs/ \<br>
		      	        	&nbsp;&nbsp;-H "Content-Type: application/json" \<br>
		      	        	&nbsp;&nbsp;-d '{"structure": "C1=CC=CN=C1"}'</code><br><br>
		      	        	Result: <code style="font-size: 1.1em;">{"LogS": 0.619}</code>
		      	        </td>
		      	      </tr>
		      	      <tr>
		      	        <th scope="row">Rule: LogS (GET - Legacy)</th>
		      	        <td>GET: <code style="font-size: 1.1em;">http://localhost:8000/chemprop/predict/logs/{smiles}/</code></td>
		      	      </tr>
		      	    </tbody>
		      	</table>
		      </td>


		      <td><a href="https://www.rdkit.org/">RDKit</a></td>
		      
		    </tr>

		  </tbody>
		</table>

		<div class="card mt-4">
		  <div class="card-header">
		    <h4>📖 Additional Information</h4>
		  </div>
		  <div class="card-body">
		    <h5>Why POST Requests?</h5>
		    <p>Chemical structures (SMILES) often contain special characters like brackets <code>[]</code>, plus signs <code>+</code>, and minus signs <code>-</code> that can cause issues when included in URL paths. POST requests with JSON bodies handle these characters reliably.</p>
		    
		    <h5>Error Handling</h5>
		    <p>All endpoints return appropriate HTTP status codes:</p>
		    <ul>
		      <li><code>200 OK</code> - Successful prediction</li>
		      <li><code>400 Bad Request</code> - Invalid input (missing structure, invalid JSON, or invalid adduct type)</li>
		      <li><code>500 Internal Server Error</code> - Prediction or model loading failure</li>
		    </ul>
		  </div>
		</div>

	</div>
	
	<footer class="mt-5 mb-3 text-center text-muted">
		<p>&copy; 2026 ChemAPI | Cheminformatics API for Chemical Property Prediction</p>
		<p>
			<a href="https://github.com/Danissss/ChemAPI">GitHub</a> | 
			<a href="https://github.com/Danissss/ChemAPI">Documentation</a> | 
			<a href="https://github.com/Danissss/ChemAPI/issues">Report Issue</a>
		</p>
	</footer>

</body>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>